<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-header">
          <span class="mb-2">jQueryフォーム追加削除</span>
        </div>
          <div class="card-body"> -->

            <div id="test-area" class="form-group">
              <div class="unit input-group mb-2">

                <div class="input-group-prepend">
                  <span class="input-group-text">TEST</span>
                </div>
                <input name="test[]" type="text">
                <div class="test-minus input-group-append">
                  <span class="btn btn-danger">-</span>
                </div>

              </div>
            </div>

            <div id="test-plus" class="btn btn-primary">+</div>

        <!-- </div>
      </div>
    </div>
  </div>
</div> -->
